$regular-font: "Open Sans Regular","Arial", sans-serif;
$semi-font: "Open Sans SemiBold","Arial", sans-serif;
$bold-font: "Open Sans Bold","Arial", sans-serif;
$basic-gray: #f5f5f9;
$basic-black: #48494d;
$basic-red: #d12136;
$basic-white: #ffffff;
$secondary-red: #bd0c21;
$secondary-gray: #a3a4a6;
$border-gray: #d7d9df;
$super-black: #000000;
$super-red: #d12136;
$overlay-color: rgba(#BDBEC2, 0.7);
$required-red: #FF0000;
$close-button-color: #9f9e9e;
$contacts-black: #1a212f;
