@import "src/styles/_variables.scss";
@import "src/styles/mixins.scss";

.container {
  min-height: 410px;
}

.list {
  @include list-style-none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item {
  font-size: 20px;
  line-height: 27px;
  color: $basic-black;
  background-color: $basic-white;
  border: 1px solid $border-gray;
  width: 195px;
  min-height: 50px;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

.active {
  color: $basic-white;
  border-color: $basic-red;
  background-color: $basic-red;
}
